replicaCount: 1

image:
  exporter:
    repository: ghcr.io/ytsaurus/excel-exporter
    pullPolicy: IfNotPresent
    tag: 0.0.0-alpha
  uploader:
    repository: ghcr.io/ytsaurus/excel-uploader
    pullPolicy: IfNotPresent
    tag: 0.0.0-alpha


settings:
  cors:
    # Allowed hostnames e.g. myorigin.com, checked via exact match: origin.Host == "myorigin.com"
    allowed_hosts: []
    # Allowed hostname suffixes e.g. .myorigin.com, checked via HasSuffix(origin.Host, ".myorigin.com")
    allowed_host_suffixes: []

  # List of clusters with cluster-specific settings.
  clusters:
    - proxy: http-proxies.default.svc.cluster.local
      # Specifies proxy alias used in API endpoint path:
      #   <http_addr>/<api_path_prefix>/<api_endpoint_name>/api/
      # Default: equals to proxy.
      api_endpoint_name: minisaurus

  # Name of the request cookie that service forwards to YT.
  # YT proxy uses this cookie to authorize requester.
  # Default: Session_id.
  # Reasonable value for OS installation: YTCypressCookie
  auth_cookie_name: "YTCypressCookie"
  sso_cookie_name: "yt_oauth_access_token"

  exporter:
    # http_port: ":80"
    http_port: 80
    # Metrics & pprof.
    # debug_http_port: ":6060"
    debug_http_port: 6060
    # Max request processing time.
    # Default: 2m.
    http_handler_timeout: 2m

    # Max input file size.
    # Default: 10485760 (10 Mb).
    max_excel_file_size_bytes: 104857600 # (100 MB)

    # Specifies global path prefix used in API endpoint path:
    #   <http_addr>/<api_path_prefix>/<api_endpoint_name>/api/
    # Default: empty.
    api_path_prefix: ""

    auth_cookie_name: null
    sso_cookie_name: null
    clusters: []

  uploader:
     # http_port: ":80"
    http_port: 80
    # Metrics & pprof.
    # debug_http_port: ":6060"
    debug_http_port: 6060
    # Max request processing time.
    # Default: 2m.
    http_handler_timeout: 2m

    # Max input file size.
    # Default: 10485760 (10 Mb).
    max_excel_file_size_bytes: 104857600 # (100 MB)

    # Specifies global path prefix used in API endpoint path:
    #   <http_addr>/<api_path_prefix>/<api_endpoint_name>/api/
    # Default: empty.
    api_path_prefix: ""

    auth_cookie_name: null
    sso_cookie_name: null
    clusters: []

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""


podAnnotations: {}
podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 80
  metricsPort: 6060

livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http


nodeSelector: {}



